[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
ipfshttpclient = "*"
pysha3 = "*"
blockcerts-merkletools = "*"
yggdrasilctl = "*"

[dev-packages]

[requires]
python_version = "3.11"
